.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.db
*.sqlite*

Backend/backend_venv/
Backend/uploads/
Backend/flask_session/
Tests/Reports/

node_modules/
Frontend/dist/

mobile-application/frontend/.dart_tool/
mobile-application/frontend/build/
mobile-application/frontend/.pub-cache/
mobile-application/frontend/.flutter-plugins
mobile-application/frontend/.flutter-plugins-dependencies

.vscode/
.idea/
.DS_Store
