Flask==3.1.1
Flask-Cors==6.0.1
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
flasgger==0.9.7.1
python-dotenv==1.1.1
requests==2.32.4
groq==0.26.0
beautifulsoup4==4.13.4
selenium==4.34.2
webdriver-manager==4.0.2
pytest==8.3.5
